root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
indent_style = space
trim_trailing_whitespace = true

[*.{cs,csproj,props,targets}]
indent_size = 4

dotnet_sort_system_directives_first = true
dotnet_separate_import_directive_groups = false
dotnet_style_qualification_for_field = false:suggestion
dotnet_style_qualification_for_property = false:suggestion
dotnet_style_qualification_for_method = false:suggestion
dotnet_style_qualification_for_event = false:suggestion
dotnet_style_require_accessibility_modifiers = for_non_interface_members:suggestion
dotnet_style_prefer_auto_properties = true:suggestion
dotnet_style_prefer_collection_expression = when_types_exactly_match:suggestion

csharp_style_namespace_declarations = file_scoped:suggestion
csharp_style_prefer_primary_constructors = false:suggestion
csharp_new_line_before_open_brace = all
csharp_indent_case_contents = true
csharp_indent_switch_labels = true

[*.{json,yml,yaml}]
indent_size = 2

[*.{md,ps1}]
indent_size = 2

[*.md]
trim_trailing_whitespace = false
